# Telegram Bot Token
TELEGRAM_BOT_TOKEN=8324666844:AAGgN-DEt0fv43gAipQrFh2DWfaw0Jg0T2Q

# 1win Credentials (опционально, можно переопределить)
# 1WIN_EMAIL=perymury78@gmail.com
# 1WIN_PASSWORD=your_password
# 1WIN_BASE_URL=https://1win.lat/
